// from samreich.com
@font-face {
    font-family: averta_stdbold;
    src: url(../fonts/avertastd-bold-webfont.eot);
    src: url(../fonts/avertastd-bold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/avertastd-bold-webfont.woff2) format("woff2"), url(../fonts/avertastd-bold-webfont.woff) format("woff"), url(../fonts/avertastd-bold-webfont.ttf) format("truetype"), url(../fonts/avertastd-bold-webfont.svg#averta_stdbold) format("svg");
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: averta_regular;
    src: url(../fonts/avertastd-regular-webfont.eot);
    src: url(../fonts/avertastd-regular-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/avertastd-regular-webfont.woff2) format("woff2"), url(../fonts/avertastd-regular-webfont.woff) format("woff"), url(../fonts/avertastd-regular-webfont.ttf) format("truetype"), url(../fonts/avertastd-regular-webfont.svg#averta_stdbold) format("svg");
    font-weight: 700;
    font-style: normal
}


@font-face {
    font-family: icomoon;
    src: url(../fonts/icomoon.eot?a1ssps);
    src: url(../fonts/icomoon.eot?a1ssps#iefix) format("embedded-opentype"), url(../fonts/icomoon.ttf?a1ssps) format("truetype"), url(../fonts/icomoon.woff?a1ssps) format("woff"), url(../fonts/icomoon.svg?a1ssps#icomoon) format("svg");
    font-weight: 400;
    font-style: normal
}
[class*=" icon-"],
[class^=icon-] {
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.icon-left-arrow:before {
    content: "\ea38"
}
.icon-right-arrow:before {
    content: "\ea34"
}
.icon-instagram:before {
    content: "\ea92"
}
.icon-twitter:before {
    content: "\ea96"
}
.icon-email:before {
    content: "\envelop"
}
.icon-linkedin:before {
    content: "\eac9"
}
.icon-linkedin2:before {
    content: "\eaca"
}
.icon-email:before {
    content: "\e945"
}
.icon-github:before {
    content: "\eab0"
}
.icon-cv:before {
    content: "\e923"
}
.icon-book:before {
    content: "\e921"
}
