
//
// VARIABLES
//

// Colors
$blue: red;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;


$background: #3e4244;
$text: #fff;


// Font stacks
$regular: averta_regular,Helvetica, Arial, sans-serif;
$bold: averta_stdbold,"Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}